# fly.toml app configuration file generated for airnav on 2026-01-26T03:11:19+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'airnav'
primary_region = 'sin'

[build]
  [build.args]
    NEXT_PUBLIC_MAPBOX_TOKEN = "${NEXT_PUBLIC_MAPBOX_TOKEN}"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpus = 1
  memory_mb = 512
